# Create a List

In [1]:
integers = [1,2,3,4,5]
print(integers)

[1, 2, 3, 4, 5]

In [2]:
string_list=['mrugesh','malav','maya','minaxi']
string_list

['mrugesh', 'malav', 'maya', 'minaxi']

In [3]:
mix_list = [1,2,3,1.5,2.5,'Mrugesh']
mix_list

[1, 2, 3, 1.5, 2.5, 'Mrugesh']

In [4]:
nested_list = [1,2,3,[1.5,2.5],['Mrugesh','Maya']]
nested_list

[1, 2, 3, [1.5, 2.5], ['Mrugesh', 'Maya']]

# Accessing / Traversing List

In [5]:
shopping_list= ['Milk','Cheese','Paneer','Butter']

shopping_list

['Milk', 'Cheese', 'Paneer', 'Butter']

In [6]:
#Access the element

# 1st element of the list

print(shopping_list[0])


# 2nd element of the list

print(shopping_list[1])

Milk
Cheese

In [7]:
# Think list as a relationship between indexes and elements
# This relationship is called mapping

# Each index maps to the one of the elements.
# List index work the same as array indexes.

# Any integer expression can be used as index.
# For example, if we try to read or write an element that does not
# exist, we will get an error.

#print(shopping_list[4])

#  IndexError: list index out of range

In [8]:
# In operator

# By using IN operator , we can find out if an element exists in this list
# or not.

print("Milk" in shopping_list)

print("Bread" in shopping_list)

True
False

In [9]:
# if provided index is minus then we are trying to access
# element from backward

shopping_list= ['Milk','Cheese','Paneer','Butter']
print(shopping_list[-1])

print(shopping_list[-2])


#print(shopping_list[-5])
#IndexError: list index out of range

Butter
Paneer

In [10]:
"""
Traverse through the List:-

The most common way to traverse the elements of a list is with Loop.
"""
for i in shopping_list:
    print(i)

Milk
Cheese
Paneer
Butter

In [11]:
# len() function
# len() function is returning the value of a number of items in a container

# range() function
# range() functiin saves us from index error because it works from 0 to N-1
# which means if that if we put 3 then it will go till 2.


for i in range(len(shopping_list)):

    shopping_list[i] = shopping_list[i] + " + "
    print(shopping_list[i])

Milk +
Cheese +
Paneer +
Butter +

In [12]:
# we can traverse through empty list but code will print nothing
#

empty_list=[]

for i in empty_list:
    print(i)
    print("No items")

# Update / Insert List

In [13]:
"""

List are mutable data structures.

That's why we can change the order of elements in a list or reassign an
item in a list.

When the bracket operator appears on the left side of an assignment,
it identifies the element of the list will be assigned.
Ex:- mylist[index]=1

"""

"\n\nList are mutable data structures.\n\nThat's why we can change the order of elements in a list or reassign an\nitem in a list.\n\nWhen the bracket operator appears on the left side of an assignment,\nit identifies the element of the list will be assigned.\nEx:- mylist[index]=1\n\n"

In [14]:
myList = [1,2,3,4,5,6,7]
myList

[1, 2, 3, 4, 5, 6, 7]

In [15]:
"""
List are ordered collections, meaning that the order of  elements will
be the same order as we declare them till we change the order.

To Update an element in the list we need to access the element and then
assign a value to it

"""

'\nList are ordered collections, meaning that the order of  elements will\nbe the same order as we declare them till we change the order.\n\nTo Update an element in the list we need to access the element and then\nassign a value to it\n\n'

In [16]:
myList[2] = 333
print(myList)

[1, 2, 333, 4, 5, 6, 7]

In [17]:
myList[4] = 555
print(myList)

[1, 2, 333, 4, 555, 6, 7]

In [18]:
"""
Time Complexity:-

So the Time Complexity of this operation is O(1) because we know that
accessing an element of a list is O(1) time complexity.
we are just assigning a value in this operation.


This is the most beneficial part of list, because list provides us
very efficient way of accessing elements by using their index and index
identifies their locations in the memory.

Space Complexity:-

Spacy Complexity for updating an element in a list is O(1).
Because we don't need an extra memory.
we have already reserved the memoery for a given element.
we are just changing the value of it.
This means that an extra memory is not required.



"""

"\nTime Complexity:-\n\nSo the Time Complexity of this operation is O(1) because we know that\naccessing an element of a list is O(1) time complexity.\nwe are just assigning a value in this operation.\n\n\nThis is the most beneficial part of list, because list provides us\nvery efficient way of accessing elements by using their index and index\nidentifies their locations in the memory.\n\nSpace Complexity:-\n\nSpacy Complexity for updating an element in a list is O(1).\nBecause we don't need an extra memory.\nwe have already reserved the memoery for a given element.\nwe are just changing the value of it.\nThis means that an extra memory is not required.\n\n\n\n"

In [19]:
"""
Insertion Operation:-

There are 4 ways of inserting a value to a list.

1.) Inserting an element to the beginning of the list

2.) Inersting an element to the any given place in the list

3.) Inserting an element to the end ot the list

4.) Inserting another list the to the list.

To perform these opertions we will use these List methods
-> insert()
-> append()
-> extend()

"""

'\nInsertion Operation:-\n\nThere are 4 ways of inserting a value to a list.\n\n1.) Inserting an element to the beginning of the list\n\n2.) Inersting an element to the any given place in the list\n\n3.) Inserting an element to the end ot the list\n\n4.) Inserting another list the to the list.\n\nTo perform these opertions we will use these List methods\n-> insert()\n-> append()\n-> extend()\n\n'

In [20]:
myList = [1,2,3,4,5,6,7]
myList

[1, 2, 3, 4, 5, 6, 7]

In [21]:
# insert() method

# The insert method inserts an elemtn in any given location to the list
# we can use insert method to insert an element at the beginning of
# the list or any given location in list.
# insert(index,value)

myList.insert(0,111)
print(myList)


myList.insert(4,44)
myList

[111, 1, 2, 3, 4, 5, 6, 7]

[111, 1, 2, 3, 44, 4, 5, 6, 7]

In [22]:
# append() method

# append() method will add an element at the end of list.

myList = [1,2,3,4,5,6,7]

myList.append(888)
print(myList)

[1, 2, 3, 4, 5, 6, 7, 888]

In [23]:
# extend() method

# extend() method will add another list to our list

myList = [1,2,3,4,5,6,7]
print(myList)

new_list=[555,777,888]

myList.extend(new_list)
print(myList)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 555, 777, 888]

In [24]:
"""

Time Complexity:-

Adding an element using insert method , we have to move all elements
one step right.
So this means that the time complexity will be O(N) for this method.

Append method just an element at the end of list. This means that
this is very efficient we are not moving in elements.
So the time complexity for this method is O(1).

Extend method with extend the time complexity depend on the elements
of the list.
This means that if we have N nunmber of elements then time complexity
for an extending to a new lust will be O(N).
Because the way it workd in just looping throught all elements of the
new list and adding them 1 by 1 at the end of the list that we want
to add.

Space complexity:-

Space complexity is O(1) because we just need 1 location for each
element

Space complexity for extend method is O(N) because it depends on the
number of elements, how many elements that we are going to add
if we had N number of elements.

So we need to allocate N number of elements so the space complexity
for the extend method will be O(N)


"""

'\n\nTime Complexity:-\n\nAdding an element using insert method , we have to move all elements\none step right.\nSo this means that the time complexity will be O(N) for this method.\n\nAppend method just an element at the end of list. This means that\nthis is very efficient we are not moving in elements.\nSo the time complexity for this method is O(1).\n\nExtend method with extend the time complexity depend on the elements\nof the list.\nThis means that if we have N nunmber of elements then time complexity\nfor an extending to a new lust will be O(N).\nBecause the way it workd in just looping throught all elements of the\nnew list and adding them 1 by 1 at the end of the list that we want\nto add.\n\nSpace complexity:-\n\nSpace complexity is O(1) because we just need 1 location for each\nelement\n\nSpace complexity for extend method is O(N) because it depends on the\nnumber of elements, how many elements that we are going to add\nif we had N number of elements.\n\nSo we need to allocate N number of elements so the space complexity\nfor the extend method will be O(N)\n\n\n'

# Slice /  Delete from a list

In [25]:
# For slicing we use slicing operator [:].

myList = ['a','b','c','d','e','f']
print(myList)

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
# Print 1st 2 elements

print(myList[0:2])

print(myList[:2])

['a', 'b']
['a', 'b']

In [27]:
# print without 1st element.

print(myList[1:])

['b', 'c', 'd', 'e', 'f']

In [28]:
# print all elements

print(myList[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [29]:
# Update 1st 2 elements in list

myList[0:2] = ['M',"J"]
print(myList)

['M', 'J', 'c', 'd', 'e', 'f']

In [30]:
"""
Deletion:-

There are several different ways of deleting an element from a list.

pop()
delete()
remove()

"""

'\nDeletion:-\n\nThere are several different ways of deleting an element from a list.\n\npop()\ndelete()\nremove()\n\n'

In [31]:
# pop() method

# we need to provide an index of element when using pop() method
# pop methods takes as parameter index of the element that we
# want to delete.
# if we do not provide any index then pop method will remove the last
# element in the list.


print(myList)

#remove 2nd element
myList.pop(1)

print(myList)

print(myList.pop())

['M', 'J', 'c', 'd', 'e', 'f']
['M', 'c', 'd', 'e', 'f']
f

In [32]:
# delete() method

# If we don't need removed values, we can use delete method
# delete method also works on index

myList = ['M', 'J', 'c', 'd', 'e', 'f']

del myList[1]
print(myList)


del myList[2]
print(myList)

myList = ['M', 'J', 'c', 'd', 'e', 'f']
del myList[2:4]
print(myList)

['M', 'c', 'd', 'e', 'f']
['M', 'c', 'e', 'f']
['M', 'J', 'e', 'f']

In [33]:
# remove() method

# remove method is very useful when we know the element itself.
# we don't need to know the index.
# we can just provide the value and delete that value.

myList = ['M', 'J', 'c', 'd', 'e', 'f']

myList.remove('M')
print(myList)

myList.remove('f')
print(myList)

['J', 'c', 'd', 'e', 'f']
['J', 'c', 'd', 'e']

In [34]:
"""

Time Complexity:-


To remove an element using pop method. If we don't use it without
any parameter it will just remove last  element.
This means that time complexity O(1) because deleting last element
is not causing any shift in our list.

If we use pop function to delete an element from the beginning from
the list, then the time complexity will be O(N), because if we
delete 1st element , the reset elements have to move 1 step left.
This means this will take too much tome if we have more values.

delete method also takes O(N) time complexity because here when we
delete any specified element or multiple elements the rest elements
have to move 1 stepe to the left.


remove method also takes O(N) time complexity because here we are
providing the element straight away, which means that if  we provide
1st element or elements others will have to 1 step to the left.




Space Complexity:-

Space complexity for all methods wil be O(1)  because there more
requiremens for extra memory to perform any deletion


"""

"\n\nTime Complexity:-\n\n\nTo remove an element using pop method. If we don't use it without\nany parameter it will just remove last  element.\nThis means that time complexity O(1) because deleting last element\nis not causing any shift in our list.\n\nIf we use pop function to delete an element from the beginning from\nthe list, then the time complexity will be O(N), because if we\ndelete 1st element , the reset elements have to move 1 step left.\nThis means this will take too much tome if we have more values.\n\ndelete method also takes O(N) time complexity because here when we\ndelete any specified element or multiple elements the rest elements\nhave to move 1 stepe to the left.\n\n\nremove method also takes O(N) time complexity because here we are\nproviding the element straight away, which means that if  we provide\n1st element or elements others will have to 1 step to the left.\n\n\n\n\nSpace Complexity:-\n\nSpace complexity for all methods wil be O(1)  because there more\nrequiremens for extra memory to perform any deletion\n\n\n"

# Searching for an element in a List

In [35]:
my_list = []

for i in range(10,100,10):
    my_list.append(i)

print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
"""
There are 2 ways of searching an element in the list.

1.) Using in operator
2.) Liner search

"""

'\nThere are 2 ways of searching an element in the list.\n\n1.) Using in operator\n2.) Liner search\n\n'

In [37]:
# in operator

target = 50

if target in my_list:
    print(f"{target} is in {my_list}")

print(" ")

target = 500

if target in my_list:
    print(f"{target} is in {my_list}")
else:
    print(f"{target} is not in the {my_list}")

50 is in [10, 20, 30, 40, 50, 60, 70, 80, 90]

500 is not in the [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
"""

Time Complexity:-

When using in operator in Python the time complexity is O(N).
In the worst case, where n is the number of elements in the list,
this is because under the hood Python performs a linear search
to check if an element is present in the list or not.

keep in mind that in operator has better time complexity when used
with sets and dictionary which are implemented as hash tabel.

"""

'\n\nTime Complexity:-\n\nWhen using in operator in Python the time complexity is O(N).\nIn the worst case, where n is the number of elements in the list,\nthis is because under the hood Python performs a linear search\nto check if an element is present in the list or not.\n\nkeep in mind that in operator has better time complexity when used\nwith sets and dictionary which are implemented as hash tabel.\n\n'

In [39]:
"""
Linear search

we are going to search for an element in the list, checking each
element 1 by 1

we are going to start from the beginning from  the list.
check if the current value is equal to the target value or not.

if it is equal , it is successful. it will return the index
of target value.

if it is not , will move the next element and checking for the
target value.

So these steps will repeat until we reach the last element in the list.


"""

'\nLinear search\n\nwe are going to search for an element in the list, checking each\nelement 1 by 1\n\nwe are going to start from the beginning from  the list.\ncheck if the current value is equal to the target value or not.\n\nif it is equal , it is successful. it will return the index\nof target value.\n\nif it is not , will move the next element and checking for the\ntarget value.\n\nSo these steps will repeat until we reach the last element in the list.\n\n\n'

In [40]:

# enumerate :- to get pairs for the index and values from the list.
# this function iterate over the list while also keeping the track
# of the index of the current item.


def linear_search(my_list,target_value):

    for i,value in enumerate(my_list):
        if value == target_value:
            return i

    return -1


my_list = []

for i in range(10,100,10):
    my_list.append(i)

print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [41]:
linear_search(my_list,40)

3

In [42]:
linear_search(my_list,110)

-1

In [43]:
"""

Time Complexity:-

1st line:- for loop
which is looping through the all elements of the list with enumerate
function.
In this case time complexity will be O(N) because enumerate function
keeps the track of the current item.

2nd line:- value==target_value
time complexity will be O(1). because we are just comparing with
target value.

3rd line:- return 1
time complexity will be O(1).

4th line:- return -1
time complexity will be O(1).

Now, if we combine all these time complexities together

total time complexity = O(N) + O(1) + O(1) + O(1) = O(N)

Space complexity:-

Space complexity of Linear search will be O(1) because in this case
an extra memory is not required to perform this operation.


"""

'\n\nTime Complexity:-\n\n1st line:- for loop\nwhich is looping through the all elements of the list with enumerate\nfunction.\nIn this case time complexity will be O(N) because enumerate function\nkeeps the track of the current item.\n\n2nd line:- value==target_value\ntime complexity will be O(1). because we are just comparing with\ntarget value.\n\n3rd line:- return 1\ntime complexity will be O(1).\n\n4th line:- return -1\ntime complexity will be O(1).\n\nNow, if we combine all these time complexities together\n\ntotal time complexity = O(N) + O(1) + O(1) + O(1) = O(N)\n\nSpace complexity:-\n\nSpace complexity of Linear search will be O(1) because in this case\nan extra memory is not required to perform this operation.\n\n\n'

# List Operations /  Functions

**List Operations**

In [44]:
# The 1st operation is ' + ' operator, which concatenates the lists,


a = [1,2,3]
b = ['a','b','c']

c = a + b
print(c)

[1, 2, 3, 'a', 'b', 'c']

In [45]:
# The 2nd operator is ' * ' operator.
# by using this operator any element in the list can be repititive.


a = [100]
a = a * 4
print(a)

print(" ")

b = [100,200]
b = b * 4
print(b)

[100, 100, 100, 100]

[100, 200, 100, 200, 100, 200, 100, 200]

**List Functions**

In [46]:
"""
1.) len() :- To count the elements of the list.

2.) max() :- Returns the item with the highest value in the List

3.) min() :- Returns the item with the lowest value in the list

4.) sum() :- Returns the sum of all items in the list
"""

'\n1.) len() :- To count the elements of the list.\n\n2.) max() :- Returns the item with the highest value in the List\n\n3.) min() :- Returns the item with the lowest value in the list\n\n4.) sum() :- Returns the sum of all items in the list\n'

In [47]:
# len()

a = [1,2,3,4,5,6,7]
print(len(a))

7

In [48]:
# max()

a = [1,2,3,4,5,6,7]
print(max(a))

7

In [49]:
# min()

a = [1,2,3,4,5,6,7]
print(min(a))

1

In [50]:
# sum()

a = [1,2,3,4,5,6,7,8,9,10]
print(sum(a))

55

In [51]:
# Average value

a = [1,2,3,4,5,6,7,8,9,10]
print(sum(a)/len(a))

5.5

In [52]:
# Average function

total = 0
count = 0

while(True):

    input_value = input("Enter a number :- ")

    if input_value == 'done': break

    value = float(input_value)

    total = total + value

    count = count + 1

    average = total/count

print("Average: ", average)

Enter a number :- 10
Enter a number :- 20
Enter a number :- done
Average:  15.0

In [53]:

my_list = list()

while(True):

    input_value = input("Enter a number :- ")

    if input_value == 'done': break

    value = float(input_value)

    my_list.append(value)


if len(my_list) > 0:

    average =  sum(my_list) / len(my_list)

    print("Average :- ",average)

else:
    print("No values entered")

Enter a number :- 10
Enter a number :- 20
Enter a number :- 45
Enter a number :- done
Average :-  25.0

# List and Strings

In [54]:
# String is sequence of characters

# List is sequence of values

# List of character is not the same as string

# To convert a string to a list character, we can use list function

In [55]:
a = 'Malav'
print(a)

b = list(a)
print(b)

Malav
['M', 'a', 'l', 'a', 'v']

In [56]:
# .split() method

a = 'Mrugesh Malav Maya'
print(a)

b = a.split( )
print(b)

print(" ")

a = 'Mrugesh-Malav-Maya'
print(a)

b = a.split('-') #delimiter = '-'
print(b)


print(" ")

a = 'Mrugesh-Malav-Maya'
print(a)

b = a.split('a') #delimiter = '-'
print(b)

Mrugesh Malav Maya
['Mrugesh', 'Malav', 'Maya']

Mrugesh-Malav-Maya
['Mrugesh', 'Malav', 'Maya']

Mrugesh-Malav-Maya
['Mrugesh-M', 'l', 'v-M', 'y', '']

In [57]:
# .joint() method

# convert list to string


a = 'Mrugesh-Malav-Maya'
print(a)

print(" ")

b = a.split('a') #delimiter = '-'
print(b)

print(" ")

c = 'a'.join(b)
print(c)

Mrugesh-Malav-Maya

['Mrugesh-M', 'l', 'v-M', 'y', '']

Mrugesh-Malav-Maya

# Common List pitfalls and ways to avoid them

In [58]:
# carless use of list can waste time in debugging.

# The 1st is we don't need to forget that most list methods modify
# the argument and return none.

# This is the opposite of string methods which returns a new stribg
# and leave the original alone.

In [59]:
my_list = [2,4,3,5,8,7]

my_list = my_list.sort()
print(my_list)

None

In [59]:
# The 2nd one is that there are many ways to do things

# For example, to remove an element form the list you can use
# pop method, remove method and deleted method or even a slice
# assignement can be used to remove the elements.

# This can lead to miunderstanding.

In [64]:
# The 3rd problem is whenever we do any operation on list, we
# need to take a copy of this list.

# Because many methods modifying original list itself without
# keeping the original one.

my_list = [2,3,4,5,9,8,4]
print(my_list)
my_list.sort()
print(my_list)

# so we can see that it modified original list.

# so the best way to avoid such problem is to create a copy of
# a list.

# we can also use sorted function

print(" ")

my_list = [2,3,4,5,9,8,4]
print(sorted(my_list))
print(my_list)

[2, 3, 4, 5, 9, 8, 4]
[2, 3, 4, 4, 5, 8, 9]

[2, 3, 4, 4, 5, 8, 9]
[2, 3, 4, 5, 9, 8, 4]

# List vs. Array

In [59]:
"""
Similarities between List and Array: -

1.) Both data structures are mutable.
It means that we can update elements of both data structures.
So by using their index, we can update any element in the list or
in the array.

2.) Both can be indexed and iterated through.
This means that we can access the elements by using their index and
we can iterate through them.


3.) They can be both sliced.
By using slice personality we can slice both list and arrays.

"""

In [59]:
"""

Difference between List and Arrya: -

1.) The main difference between these two data structure is the
operation we perform on them.

Array are specially optimized for arithmetic computations. So if we
try to perform similar operations, we should consider using array
instead of list.

2.) The 2nd main difference is that in list the elements data types
can be different , but in array all elements has to be same data type.


"""

In [69]:
# for 1st difference

import numpy as np

my_array = np.array([1,2,3,4,5,6])

my_list = [1,2,3,4,5,6]

print(my_array/2)

# print(my_list/2)
# error:- TypeError: unsupported operand type(s) for /: 'list' and 'int'

[0.5 1.  1.5 2.  2.5 3. ]

In [71]:

import numpy as np

my_array = np.array([1,2,3,4,5,'a'])

my_list = [1,2,3,4,5,6,'a']

print(my_array)
# all array elements are printed as string even though we declared
# as integer it converted in string.

print(my_list)
# in case of list it remained the same.

['1' '2' '3' '4' '5' 'a']
[1, 2, 3, 4, 5, 6, 'a']

# Time and Space Complexity of List

In [59]:
"""
1.) Creating an empty list

Time complexity :- O(1)
Space complexity :- O(1)

2.) Creating a List with elements

Time Complexity :- O(N)
Space complexity :- O(N)

3.) Inserting a value in a list

Time Complexity :- O(N)
Space Complexity :- O(1)

4.) Traversing a List

Time Complexity :- O(N)
Space Complexity :- O(1)

5.) Accessing a given cell in List

Time Complexity :- O(1)
Space Complexity :- O(1)

6.) Searching a given value in List

Time Complexity :- O(N)
Space Complexity :- O(1)

7.) Deleting a value from List

Time Complexity :- O(1)
Space Complexity :- O(1)



"""

# List Comprehension

In [59]:
"""

Only Python has an option of List Comprehension

other programming language does not have this functionality.
It cuts down the amount of typing and make code shorter
and makes it lot easier to read.

What is List Comprehension?

It is a case where you create a new list from the previous list.
So far we are creating a list from other lists using for loops.

syntax = [ expression:operation  for loop]
"""

In [74]:
# Traditional way of creating a new list


my_list = [1,2,3]
print(my_list)
print(" ")
new_list =[]

for i in my_list:
    new = i*2
    new_list.append(new)

print(new_list)

[1, 2, 3]

[2, 4, 6]

In [76]:
# using list comprehension

my_list = [1,2,3]
print(my_list)
print(" ")

new_list = [item*2  for item in my_list]
print(new_list)

[1, 2, 3]

[2, 4, 6]

In [77]:
ls = "Mrugesh"

new_ls = [i for i in ls]
new_ls

['M', 'r', 'u', 'g', 'e', 's', 'h']

# Conditional List Comprehension

In [79]:
# new_list = [ new_item for item in list if condition]

my_list = [-1,10,20,2,-90,-100,45,88,32,-32]

print(my_list)
print(" ")

new_list = [ i for i in my_list if i>0]
print(new_list)

print(" ")
new_list_negative= [i*i for i in my_list if i<0]
print(new_list_negative)

[-1, 10, 20, 2, -90, -100, 45, 88, 32, -32]

[10, 20, 2, 45, 88, 32]

[1, 8100, 10000, 1024]

In [84]:
sentence = 'My father name is Mrugesh Joshi'

def is_constant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

print(is_constant('a')) # a is vowels so printed False

print(is_constant("M")) # M is constant so printed True

print(" ")
constants = [ i for i in sentence  if is_constant(i)]

print(constants)

False
True

['M', 'y', 'f', 't', 'h', 'r', 'n', 'm', 's', 'M', 'r', 'g', 's', 'h', 'J', 's', 'h']

In [92]:

my_list = [-1,10,20,2,-90,-100,45,88,32,-32]
print(my_list)

print(" ")

new_list = [i if i>0 else 0 for i in my_list ]

print(new_list)


print(" ")

new_list = [i if i>0 else '- value' for i in my_list ]

print(new_list)

[-1, 10, 20, 2, -90, -100, 45, 88, 32, -32]

[0, 10, 20, 2, 0, 0, 45, 88, 32, 0]

['- value', 10, 20, 2, '- value', '- value', 45, 88, 32, '- value']

In [96]:

my_list = [-1,10,20,2,-90,-100,45,88,32,-32]

def number(number):
    return number if number>0 else "Negative value"

print(my_list)
print(" ")

new_list = [number(i) for i in my_list]
print(new_list)

[-1, 10, 20, 2, -90, -100, 45, 88, 32, -32]

['Negative value', 10, 20, 2, 'Negative value', 'Negative value', 45, 88, 32, 'Negative value']